@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');



*{
  font-size: 16px;
  color: blanchedalmond ;
  font-family: 'Exo 2', sans-serif ;
  transition : .2s;
  margin: 0;
  padding: 0;
  user-select: none;
}

body{
  background-color: #282c34 ;
 
}



.container-main{
  height: 100vh;

  display: flex;
  flex-direction: column;
  position: relative;

}

.loading{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  width: 100%;
  ;
}


.loadingbanner{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  gap: 30px;
  align-items:  center;
}

.ascii{
  font-family: monospace;
  white-space: pre;
}

.banner{
  height: 90vh;
 
  display: flex;

  flex-direction: column;
  justify-content: center;
  
}

.bannerscale{
  transform: scale(.8);
}




.header{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.consolebox{
  padding: 30px;
  display: flex;
  flex-direction: column;
;

}


.consoleoutput{
  display: flex;
  flex-direction: column;
}


.consoleprompt{
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.px-1{
  padding-left: 1em;
  padding-right: 1em;
}

.px-2{
  padding-left: 2em;
  padding-right: 2em;
}

.px-3{
  padding-left: 3em;
  padding-right: 3em;
}


.consoleline-title{
  display: flex;

}

.consoleline-title > div:first-child{
  color: rgba(255, 242, 205, 0.76);
  width: 120px;
}

.consolebox input{
  background-color: transparent;
  border: none;

  caret: 5px;
  caret-shape: bar;
}

input:focus {
  outline: none;
}


.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.linkscontainer{
  display: grid;
  gap :12px;
  grid-template-columns: auto auto auto auto auto auto auto;
}



.blackhole{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  transition: 2s;
  
  opacity: 1;
}


.blackhole2{
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;

}



.blackhole img{
  height: 100vh;
  width: 100vw;
}

.opacity0{
  opacity: 0;
}


.background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 100vh;
  width: 100vh;


}

.consolewindow{
  position: absolute;
  top: 60px;
  left: 20px;
  right: 20px;
  display: block;
  background-color: #444955f3;
  border-radius: 12px;
  border: 1px solid blanchedalmond;
  overflow: hidden;
  box-shadow: -5px -6px 7px 2px rgba(255,255,255,0.1) inset;
  -webkit-box-shadow: -5px -6px 7px 2px rgba(255,255,255,0.1) inset;
  -moz-box-shadow: -5px -6px 7px 2px rgba(255,255,255,0.1) inset;

}

.consoleheader{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid blanchedalmond;;
  margin-bottom: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 4px;
}

.consoleheader img{
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.consoleheader img:hover{
  transform: scale(1.05)
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@media screen and (max-width: 820px) {
  /* Your CSS rules go here */
  .slantrelief{
    transform: scale(.5);
  }
}





